Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-SocketIO==5.3.6
Flask-CORS==4.0.0
bcrypt==4.1.2
python-dotenv==1.0.0
PyJWT==2.8.0
gunicorn==21.2.0
gevent==24.2.1
gevent-websocket==0.10.1
